<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!--[if IE 9 ]><html lang="es" class="ie9"><![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fundación Multitudes</title>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="icon" type="image/x-icon" href="/img/icono_multitudes.png" />

<!-- Global stylesheets -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
	rel="stylesheet" type="text/css">
<link href="/css/dashboard/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/colors.css" rel="stylesheet" type="text/css">
<link href="/css/dashboard/colors.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/components.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/components.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/core.css" rel="stylesheet" type="text/css">
<link href="/css/dashboard/core.min.css" rel="stylesheet"
	type="text/css">
<!-- /global stylesheets -->

<!-- Alertify -->
<script src="/js/alertify/lib/alertify.js"></script>
<script src="/js/alertify/lib/alertify.min.js"></script>

<!-- CSS file -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/my_style.css" />

<!-- Site -->
<link rel="stylesheet" href="/css/app_1.min.css">
<link rel="stylesheet" href="/css/app_2.min.css">

<!-- Site functions and actions -->
<script src="/js/app.min.js"></script>

<!--Navegacion  -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<script src="js/bootstrap.min.js"></script>

<!--  Carousel -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Page Loader JS -->
<script src="js/page-loader.min.js" async></script>

<!-- CSS Tables -->
<link rel="stylesheet" type="text/css" href="/css/tables/main.css">
<link rel="stylesheet" type="text/css"
	href="/css/tables/perfect-scrollbar.css">

<script src="/js/Chart.min.js" async></script>
<script src="/js/utils.js" async></script>

<style type="text/css">
.contenedor {
	position: relative;
	display: inline-block;
	text-align: center;
}

.centrado {
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
</style>
</head>

<body>
	<!-- Start page loader -->
	<div id="page-loader">
		<div class="page-loader__spinner"></div>
	</div>
	<!-- End page loader -->
	<header id="header">
		<div class="header__main">
			<div class="container">
				<a class="logo" th:href="@{/}"> <img src="/img/logoFinal.png"
					alt="" style="height: 50px; width: 150px;">
					<div class="logo__text">
						<span style="color: white;">Fundación Multitudes</span>
					</div>
				</a>
				<nav class="navbar navbar-expand-lg navbar-dark" id="menu"
					style="width: 60%;">
					<div class="container">
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#menu-content"
							aria-controls="menu-content" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="menu-content">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item dropdown"><a class="nav-link nav-btn"
									target="_blank"
									href="https://www.fundacionmultitudes.org/sobre-nosotros">Sobre
										Nosotros</a></li>
								<li class="nav-item dropdown"><a class="nav-link nav-btn"
									th:href="@{/ficha-sujeto-pasivo}">Organismo Comprador</a></li>
								<li class="nav-item dropdown"><a class="nav-link nav-btn"
									th:href="@{/ficha-sujeto-activo}">Proveedor del Estado</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<div id="myCarousel" class="carousel slide" data-ride="carousel"
		style="width: 100%;">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">


				<div class="contenedor">
					<img src="/img/multitudes_images/manos_alzadas_1.png" alt=""
						style="width: 100%; height: 400px">
					<div class="centrado">
						<h3>
							<span style="background-color: green;"><b>Todas las
									personas tienen derecho a incidir y defender sus intereses y
									los de la comunidad como parte del ejercicio de la democracia.</b></span>
						</h3>
					</div>
				</div>

			</div>

			<div class="item">
				<div class="contenedor">
					<img src="/img/multitudes_images/junta_vecinal_2.png" alt=""
						style="width: 100%; height: 400px">
					<div class="centrado">
						<h3>
							<span style="background-color: blue"><b>Acercamos la
									ciudadanía a las instituciones públicas.</b></span>
						</h3>
					</div>
				</div>

			</div>

			<div class="item">
				<div class="contenedor">
					<img src="/img/multitudes_images/graficos_3.png" alt=""
						style="width: 100%; height: 400px">
					<div class="centrado">
						<h3>
							<span style="background-color: orange;"><b>Entregamos
									herramientas para la incidencia y rendición de cuentas
									efectiva.</b></span>
						</h3>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="contenedor">
					<img src="/img/multitudes_images/focus_4.png" alt=""
						style="width: 100%; height: 400px">
					<div class="centrado">
						<h3>
							<span style="background-color: green;"><b>Ampliamos
									los espacios de participación ciudadana en la toma de
									decisiones.</b></span>
						</h3>
					</div>
				</div>

			</div>
			<div class="item">
				<div class="contenedor">
					<img src="/img/multitudes_images/ubuntu_5.png" alt=""
						style="width: 100%; height: 400px">
					<div class="centrado">
						<h3>
							<span style="background-color: blue;"><b>Somos
									Gobierno Abierto.</b></span>
						</h3>
					</div>
				</div>

			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span> <span
			class="sr-only">Previa</span>
		</a> <a class="right carousel-control" href="#myCarousel"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right"></span> <span
			class="sr-only">Siguiente</span>
		</a>
	</div>
	<section class="section" style="background-color: #1a1b3336;">
		<div class="container" style="width: 100%;">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="detail-info">
							<div class="container" style="width: 100%;">
								<h4 align="center">
									<u>Nuestro Objetivo</u>
								</h4>
								<br>
								<p align="justify">LobbyCompras es una plataforma ideada por
									Fundación Multitudes dispuesta al servicio de la comunidad,
									construida de datos provistos por organismos públicos del
									estado de Chile relativos a Lobby y Compras Públicas. La
									principal finalidad de esta plataforma es entregar un insumo
									que promueva la investigación y fiscalización, principalmente a
									manos de la sociedad civil. Esto gracias a la posibilidad de
									realizar consultas individualizadas de la actividad de lobby y
									compras de organismos públicos y proveedores.
								<p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="detail-info">
							<!-- Page length options -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h4 align="center" class="panel-title">
										<u>Top 10 Licitadores</u>
									</h4>
								</div>
								<div class="table100 ver5 m-b-70">
									<table id="top10ProveedorLicitaciones">
										<thead>
											<tr class="row100 head">
												<th class="column100" style="width: 5%">#</th>
												<th class="column100" style="width: 5%">Cantidad</th>
												<th class="column100" style="width: 55%">Proveedor</th>
												<th class="column100 column5" data-column="column5">Rut</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="detail-info">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h3 class="title" align="center">
										<u>Top 10 Licitadores</u>
									</h3>
								</div>
								<div style="width: 100%;">
									<canvas id="myBarChart" height="268"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="detail-info">
							<!-- Page length options -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h4 align="center" class="panel-title">Top 10 Licitaciones
									</h4>
								</div>
								<div class="table100 ver5 m-b-110">
									<table data-vertable="ver5" id="top10CompradorLicitaciones">
										<thead>
											<tr class="row100 head">
												<th class="column100" style="width: 5%">#</th>
												<th class="column100" style="width: 5%">Cantidad</th>
												<th class="column100" style="width: 55%">Organismo</th>
												<th class="column100" style="width: 25%">Rut</th>
												<th class="column100" style="width: 1%">Monto</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="detail-info">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h3 class="title" align="center">Top 10 Licitaciones</h3>
								</div>
								<div style="width: 100%;">
									<canvas id="myBarChart2" height="304"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="detail-info">
							<div class="panel-heading">
								<h4 class="panel-title" align="center">
									<u>Top 10 Organismos con Mayores Audiencias</u>
								</h4>
								<br>
							</div>
							<div class="table100 ver5 m-b-110">
								<table data-vertable="ver5" id="top10AudienciasPublicas">
									<thead>
										<tr class="row100 head">
											<th class="column100 column2" data-column="column2">#</th>
											<th class="column100 column3" data-column="column3">Cantidad</th>
											<th class="column100 column4" data-column="column4">Organismo</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="detail-info">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h3 class="title" align="center">
										<u>Top 10 Organismos con Mayores Audiencias</u>
									</h3>
								</div>
								<div style="width: 100%;">
									<canvas id="myBarChart3" height="273"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="detail-info">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h3 class="title" align="center">
										<u>Audiencias Por Mes</u>
									</h3>
								</div>
								<div style="width: 100%;">
									<canvas id="myLineChart" height="80"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="detail-info">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h4 align="center" class="panel-title">
										<u>Top 10 Lobby - Proveedor</u>
									</h4>
								</div>
								<div class="table100 ver5 m-b-110">
									<table data-vertable="ver5" id="top10AudienciasPrivadas">
										<thead>
											<tr class="row100 head">
												<th class="column100 column2" data-column="column2">#</th>
												<th class="column100 column3" data-column="column3">Cantidad</th>
												<th class="column100 column4" data-column="column4">Institucion</th>
												<th class="column100 column5" data-column="column5">Rut</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="detail-info">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h3 class="title" align="center">
										<u>Top 10 Lobby - Proveedor</u>
									</h3>
								</div>
								<div style="width: 100%;">
									<canvas id="myBarChart4" height="398"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer">
		<div class="container hidden-xs">
			<div class="row">
				<div class="col-sm-4">
					<div class="footer__block">
						<a class="logo clearfix" href="">
							<div class="logo__text">
								<span>Fundación Multitudes</span>
							</div>
						</a>
						<address class="m-t-20 m-b-20 f-14">Román Díaz #445,
							Providencia, Región Metropolitana</address>

						<div class="f-20">+56 9 95090351</div>
						<div class="f-14 m-t-5">contacto@fundacionmultitudes.org</div>

						<div class="f-20 m-t-20">
							<a href="" class="m-r-10"><i class="zmdi zmdi-google"></i></a> <a
								href="" class="m-r-10"><i class="zmdi zmdi-facebook"></i></a> <a
								href=""><i class="zmdi zmdi-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="container">
				<span class="footer__copyright">© Fundación Multitudes</span> <a
					href="https://www.fundacionmultitudes.org/sobre-nosotros"
					target="_blank">Sobre Nosotros</a>
			</div>
		</div>
	</footer>
	<script>
		$(document)
				.ready(
						function() {

							function drawBarChart4() {

								// Add a helper to format timestamp data
								Date.prototype.formatMMDDYYYY = function() {
									return (this.getMonth() + 1) + "/"
											+ this.getDate() + "/"
											+ this.getFullYear();
								}

								var jsonData = $
										.ajax(
												{
													url : '/dashboard/top-audiencias-privadas',
													dataType : 'json',
												})
										.done(
												function(results) {

													var labels = [], data = [];
													results
															.forEach(function(
																	packet) {
																labels
																		.push(packet.rutProveedor);
																data
																		.push(packet.cantidad);
															});

													// Create the chart.js data structure using 'labels' and 'data'
													var tempData = {
														labels : labels,
														datasets : [ {
															fillColor : "rgba(243,128,1,1)",
															strokeColor : "rgba(49,69,146,1)",
															pointColor : "rgba(151,187,205,1)",
															pointStrokeColor : "#fff",
															pointHighlightFill : "#fff",
															pointHighlightStroke : "rgba(151,187,205,1)",
															data : data
														} ]
													};
													var ctx = document
															.getElementById(
																	"myBarChart4")
															.getContext("2d");

													options = {
														responsive : true
													};

													var myBarChart = new Chart(
															ctx).Bar(tempData,
															options);

												});
							}

							drawBarChart4();

							function drawBarChart3() {

								// Add a helper to format timestamp data
								Date.prototype.formatMMDDYYYY = function() {
									return (this.getMonth() + 1) + "/"
											+ this.getDate() + "/"
											+ this.getFullYear();
								}

								var jsonData = $
										.ajax(
												{
													url : '/dashboard/top-audiencias-publicas',
													dataType : 'json',
												})
										.done(
												function(results) {

													var labels = [], data = [];
													results
															.forEach(function(
																	packet) {
																labels
																		.push(packet.institucion);
																data
																		.push(packet.cantidad);
															});

													// Create the chart.js data structure using 'labels' and 'data'
													var tempData = {
														labels : labels,
														datasets : [ {
															fillColor : "rgba(243,128,1,1)",
															strokeColor : "rgba(49,69,146,1)",
															pointColor : "rgba(151,187,205,1)",
															pointStrokeColor : "#fff",
															pointHighlightFill : "#fff",
															pointHighlightStroke : "rgba(151,187,205,1)",
															data : data
														} ]
													};
													var ctx = document
															.getElementById(
																	"myBarChart3")
															.getContext("2d");

													options = {
														responsive : true
													};

													var myBarChart = new Chart(
															ctx).Bar(tempData,
															options);
												});
							}

							drawBarChart3();

							function drawBarChart2() {

								// Add a helper to format timestamp data
								Date.prototype.formatMMDDYYYY = function() {
									return (this.getMonth() + 1) + "/"
											+ this.getDate() + "/"
											+ this.getFullYear();
								}

								var jsonData = $
										.ajax(
												{
													url : '/dashboard/top-comprador-licitaciones',
													dataType : 'json',
												})
										.done(
												function(results) {

													var labels = [], data = [];
													results
															.forEach(function(
																	packet) {
																labels
																		.push(packet.rutComprador);
																data
																		.push(packet.cantidad);
															});

													// Create the chart.js data structure using 'labels' and 'data'
													var tempData = {
														labels : labels,
														datasets : [ {
															fillColor : "rgba(243,128,1,1)", //Fondo de Barra
															strokeColor : "rgba(49,69,146,1)", //Borde de Barra
															pointColor : "rgba(151,187,205,1)",
															pointStrokeColor : "#fff",
															pointHighlightFill : "#fff",
															pointHighlightStroke : "rgba(151,187,205,1)",
															data : data
														} ]
													};
													var ctx = document
															.getElementById(
																	"myBarChart2")
															.getContext("2d");

													options = {
														responsive : true
													};

													var myBarChart = new Chart(
															ctx).Bar(tempData,
															options);
												});
							}

							drawBarChart2();

							function drawBarChart() {

								// Add a helper to format timestamp data
								Date.prototype.formatMMDDYYYY = function() {
									return (this.getMonth() + 1) + "/"
											+ this.getDate() + "/"
											+ this.getFullYear();
								}

								var jsonData = $
										.ajax(
												{
													url : '/dashboard/top-proveedor-licitaciones',
													dataType : 'json',
												})
										.done(
												function(results) {

													var labels = [], data = [];
													results
															.forEach(function(
																	packet) {
																labels
																		.push(packet.rutProveedor);
																data
																		.push(packet.cantidad);
															});

													// Create the chart.js data structure using 'labels' and 'data'
													var tempData = {
														labels : labels,
														datasets : [ {
															fillColor : "rgba(243,128,1,1)",
															strokeColor : "rgba(49,69,146,1)",
															pointColor : "rgba(151,187,205,1)",
															pointStrokeColor : "#fff",
															pointHighlightFill : "#fff",
															pointHighlightStroke : "rgba(151,187,205,1)",
															data : data
														} ]
													};
													var ctx = document
															.getElementById(
																	"myBarChart")
															.getContext("2d");

													options = {
														responsive : true
													};

													var myBarChart = new Chart(
															ctx).Bar(tempData,
															options);
												});
							}

							drawBarChart();

							function drawLineChart() {

								// Add a helper to format timestamp data
								Date.prototype.formatMMDDYYYY = function() {
									return (this.getMonth() + 1) + "/"
											+ this.getDate() + "/"
											+ this.getFullYear();
								}

								var jsonData = $
										.ajax(
												{
													url : '/dashboard/audiencias-por-mes',
													dataType : 'json',
												})
										.done(
												function(results) {

													// Split timestamp and data into separate arrays
													var labels = [], data = [];
													results
															.forEach(function(
																	packet) {
																labels
																		.push(packet.fecha);
																data
																		.push(packet.cantidad);
															});

													// Create the chart.js data structure using 'labels' and 'data'
													var tempData = {
														labels : labels,
														datasets : [ {
															fillColor : "rgba(151,187,205,0.2)",
															strokeColor : "rgba(49,69,146,1)",
															pointColor : "rgba(151,187,205,1)",
															pointStrokeColor : "#fff",
															pointHighlightFill : "#fff",
															pointHighlightStroke : "rgba(151,187,205,1)",
															data : data
														} ]
													};
													var ctx = document
															.getElementById(
																	"myLineChart")
															.getContext("2d");

													options = {
														responsive : true
													};

													var myLineChart = new Chart(
															ctx).Line(tempData,
															options);
												});
							}

							drawLineChart();

							$.ajax({
								type : "GET",
								url : "/dashboard/top-audiencias-publicas",
								success : top10AudienciasPublicas,
								error : errorDialog
							});

							$.ajax({
								type : "GET",
								url : "/dashboard/top-audiencias-privadas",
								success : cargarTop10AudienciasPrivadas,
								error : errorDialog
							});

							$.ajax({
								type : "GET",
								url : "/dashboard/top-comprador-licitaciones",
								success : top10CompradorLicitaciones,
								error : errorDialog
							});

							$.ajax({
								type : "GET",
								url : "/dashboard/top-proveedor-licitaciones",
								success : top10ProveedorLicitaciones,
								error : errorDialog
							});

						});
		function formatNumber(num) {
			if (!num || num == 'NaN')
				return '0';
			if (num == 'Infinity')
				return '&#x221e;';
			num = num.toString().replace(/\$|\,/g, '');
			if (isNaN(num))
				num = "0";
			sign = (num == (num = Math.abs(num)));
			num = Math.floor(num * 100 + 0.50000000001);
			cents = num % 100;
			num = Math.floor(num / 100).toString();
			if (cents < 10)
				cents = "0" + cents;
			for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3); i++)
				num = num.substring(0, num.length - (4 * i + 3)) + '.'
						+ num.substring(num.length - (4 * i + 3));
			return (((sign) ? '' : '-') + num);
		}

		function top10AudienciasPublicas(data, status, jqxhrObject) {
			if (data) {
				var contador = 0;
				data
						.forEach(function(top10AudienciasPublicas) {
							contador++;
							var cantidad = top10AudienciasPublicas.cantidad;
							var institucion = top10AudienciasPublicas.institucion;

							$("#top10AudienciasPublicas")
									.append(
											"<tr class=row100>"
													+ "<td class='column100 column2' data-column='column2'>"
													+ contador
													+ "</td>"
													+ "<td class='column100 column3' data-column='column3'>"
													+ cantidad
													+ "</td>"
													+ "<td class='column100 column4' data-column='column4'>"
													+ institucion + "</td>"
													+ "</tr>");
						});
			}
		}

		function cargarTop10AudienciasPrivadas(data, status, jqxhrObject) {
			if (data) {
				var contador = 0;
				data
						.forEach(function(top10AudienciaPrivada) {
							contador++;
							var cantidad = top10AudienciaPrivada.cantidad;
							var nombreProveedor = top10AudienciaPrivada.proveedor;
							var rutProveedor = top10AudienciaPrivada.rutProveedor;

							$("#top10AudienciasPrivadas")
									.append(
											"<tr class=row100>"
													+ "<td class='column100 column2' data-column='column2'>"
													+ contador
													+ "</td>"
													+ "<td class='column100 column3' data-column='column3'>"
													+ cantidad
													+ "</td>"
													+ "<td class='column100 column4' data-column='column4'>"
													+ nombreProveedor
													+ "</td>"
													+ "<td class='column100 column5' data-column='column5'>"
													+ rutProveedor + "</td>"
													+ "</tr>");
						});
			}
		}

		function top10CompradorLicitaciones(data, status, jqxhrObject) {
			if (data) {
				var contador = 0;
				data
						.forEach(function(top10CompradorLicitaciones) {
							contador++;
							var cantidad = top10CompradorLicitaciones.cantidad;
							var institucion = top10CompradorLicitaciones.nombreComprador;
							var rutComprador = top10CompradorLicitaciones.rutComprador;
							var monto = top10CompradorLicitaciones.monto;

							$("#top10CompradorLicitaciones")
									.append(
											"<tr class=row100>"
													+ "<td class='column100 column2' data-column='column2'>"
													+ contador
													+ "</td>"
													+ "<td class='column100 column3' data-column='column3'>"
													+ cantidad
													+ "</td>"
													+ "<td class='column100 column4' data-column='column4'>"
													+ institucion
													+ "</td>"
													+ "<td class='column100 column5' data-column='column5'>"
													+ rutComprador
													+ "</td>"
													+ "<td class='column100 column5' data-column='column5'>"
													+ '$' + formatNumber(monto)
													+ "</td>" + "</tr>");
						});
			}
		}
		function top10ProveedorLicitaciones(data, status, jqxhrObject) {
			if (data) {
				var contador = 0;
				data
						.forEach(function(top10ProveedorLicitaciones) {
							contador++;
							var cantidad = top10ProveedorLicitaciones.cantidad;
							var institucion = top10ProveedorLicitaciones.nombreProveedor;
							var rutProveedor = top10ProveedorLicitaciones.rutProveedor;

							$("#top10ProveedorLicitaciones")
									.append(
											"<tr class=row100>"
													+ "<td class='column100 column2' data-column='column2'>"
													+ contador
													+ "</td>"
													+ "<td class='column100 column3' data-column='column3'>"
													+ cantidad
													+ "</td>"
													+ "<td class='column100 column4' data-column='column4'>"
													+ institucion
													+ "</td>"
													+ "<td class='column100 column5' data-column='column5'>"
													+ rutProveedor + "</td>"
													+ "</tr>");
						});
			}
		}

		function errorDialog(data, status, jqxhrObject) {
			alertify
					.error('Ha ocurrido un error, favor contactese con el administrador.');
		}
	</script>

</body>

</html>
