<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!--[if IE 9 ]><html lang="es" class="ie9"><![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Fundación Multitudes</title>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<!-- Global stylesheets -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"
	rel="stylesheet" type="text/css">
<link href="/css/dashboard/bootstrap.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/colors.css" rel="stylesheet" type="text/css">
<link href="/css/dashboard/colors.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/components.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/components.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/dashboard/core.css" rel="stylesheet" type="text/css">
<link href="/css/dashboard/core.min.css" rel="stylesheet"
	type="text/css">
<!-- /global stylesheets -->

<!-- Alertify -->
<script src="/js/alertify/lib/alertify.js"></script>
<script src="/js/alertify/lib/alertify.min.js"></script>

<!-- CSS file -->
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/my_style.css" />

<!-- Site -->
<link rel="stylesheet" href="/css/app_1.min.css">
<link rel="stylesheet" href="/css/app_2.min.css">

<!-- Site functions and actions -->
<script src="/js/app.min.js"></script>

<!-- Demo only 
	<script
		src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyD_nanUpVqytOmHHfuW4htZsiLH7YUzJ1A"
		async></script>
	<script src="/js/demo/demo.js"></script>
	<script src="/js/demo/maps/listing-detail-location-map.js"></script>
	<script src="/js/demo/charts/line-chart.js"></script> -->

<script
	src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.js"></script>

<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>


</head>

<body>
	<header id="header">

		<div class="header__main">
			<div class="container">
				<a class="logo" th:href="@{/}"> <img src="/img/logo.png" alt="">
					<div class="logo__text">
						<span>Fundación Multitudes</span> <span>Slogan</span>
					</div>
				</a>

				<div class="navigation-trigger visible-xs visible-sm"
					data-rmd-action="block-open" data-rmd-target=".navigation">
					<i class="zmdi zmdi-menu"></i>
				</div>

				<ul class="navigation">
					<li class="visible-xs visible-sm"><a class="navigation__close"
						data-rmd-action="navigation-close" href=""><i
							class="zmdi zmdi-long-arrow-right"></i></a></li>
					<li class="navigation__dropdown"><a
						th:href="@{/ficha-sujeto-pasivo}"">Ficha Sujeto Pasivo</a></li>
					<li class="navigation__dropdown"><a
						th:href="@{/ficha-sujeto-activo}">Ficha Sujeto Activo</a></li>
					<li class="navigation__dropdown"><a th:href="@{/dashboard}">Dashboard</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<section class="section">
		<div class="container" style="width: 100%;">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="detail-info">
							
						<h1>Home</h1>

						</div>
					</div>

				</div>
			</div>


		</div>
	</section>

	<footer id="footer">
		<div class="container hidden-xs">
			<div class="row">
				<div class="col-sm-4">
					<div class="footer__block">
						<a class="logo clearfix" href="">
							<div class="logo__text">
								<span>Fundación Multitudes</span> <span>Slogan</span>
							</div>
						</a>

						<address class="m-t-20 m-b-20 f-14">Román Díaz #445,
							Providencia, Región Metropolitana</address>

						<div class="f-20">9 9509 0351</div>
						<div class="f-14 m-t-5">hola@fundacionmultitudes.com /
							info@fundacionmultitudes.com</div>

						<div class="f-20 m-t-20">
							<a href="" class="m-r-10"><i class="zmdi zmdi-google"></i></a> <a
								href="" class="m-r-10"><i class="zmdi zmdi-facebook"></i></a> <a
								href=""><i class="zmdi zmdi-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer__bottom">
			<div class="container">
				<span class="footer__copyright">© Fundación Multitudes</span> <a
					href="">Sobre Nosotros</a> <a href="">Términos y condiciones</a> <a
					href="">Políticas de privacidad</a>
			</div>

		</div>
	</footer>


</body>

</html>
